@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-div-icon, .custom-div-icon.leaflet-interactive {
  margin: 0px;
  padding: 0px;
  /* position: relative; */
  padding-bottom: 30px;
  cursor: default;
  cursor: grab;
}

.custom-div-icon > span {
  display: inline-block;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  color: black;
  padding: 0 5px;
  white-space: nowrap;
  display: block;
  width: fit-content;
  opacity: 0.7;
  position: relative;
  /* padding-bottom: 20px; */
  /* transition: opacity 0.2s; */
}

.custom-div-icon:hover {
    /* opacity: 1; */
    z-index: 1000 !important;
}

.custom-div-icon:hover > span {
  opacity: 1;
}
